<form method="POST" action="/posts">
  <p>Name: <input type="text" name="name" id="post_name"></p>
  <p>Content: <input type="text" name="content" id="post_content"></p>
  <input type="submit" id="submit">
</form>
